@keyframes Spin {
    0% {
      transform rotateZ(0deg)
    }
    100% {
      transform rotateZ(360deg)
    }
}
@keyframes UD {
    0% {
      transform translateY(0%)
    }
    25% {
      transform translateY(30%)
    }
    50% {
      transform translateY(0%)
    }
    75% {
      transform translateY(-30%)
    }
    100% {
      transform translateY(0%)
    }
}

@keyframes Fade {
    0% {
      opacity 1
    }
    25% {
      opacity 0
    }
    50% {
      opacity 1
    }
    75% {
      opacity 0
    }
    100% {
      opacity 1
    }
}

@keyframes Delay {
    0% {
      opacity 0
    }
    50% {
      opacity 0
    }
    65% {
      opacity 1
    }
    80% {
      opacity 0
    }
    100% {
      opacity 1
    }
}

@keyframes Hide {
    0% {
      opacity 0
    } 
    100% {
      opacity 0
    }
}
