$colors = {
  white: #ffffff,
  gray: #666666,
  orange: #f17d0b
}

/* 公共文字颜色 */
$theme-txt-color = $colors.gray
$theme-txt-color1 = $colors.orange
$theme-txt-color2 = #999999
$theme-txt-color3 = #ff5429 // 红色
$theme-txt-color4 = $colors.white

/* 公共背景颜色 */
$theme-bg-color = $colors.white
$theme-bg-color1 = #ff5423 // 红色

/* 公共边框颜色 */
$theme-bd-color = #f7f7f7
$theme-bd-color1 = #ff5423
$theme-bd-color2 = #e7e7e7
$theme-bd-color3 = $colors.white
